@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap'); 

h1 {
    font-family: 'Caudex', serif;
    position: relative;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
}