@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap'); 

body{
overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.nav{
    position: relative;
}

h1 {
    font-family: 'Caudex', serif;
    position: relative;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
}

.block {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #item {
    font-size: 9.7vh;
    font-family: 'Caudex', serif;
    width: initial;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
  }
  
  
  #highlight {
    display: inline-block;
    position: absolute;
    z-index: -1;
    background-color: #e79d35;
    height: 50px; 
    width: 0%;
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  #item:hover #highlight{
    /* hardcoded */
    width: 1170px; 
  }

/* .block{
    background-image: url('hoc_web_bg.jpeg');
    background-repeat: none;
} */


.down{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 90vh;
    align-self: center;
}